/* Fonte do Site */
@import url('https://fonts.cdnfonts.com/css/lilita-one');

/* CSSs Linkados */
@import "assets/styles/header.css";
@import "assets/styles/content.css";
@import "assets/styles/footer.css";
@import "assets/styles/scrollbar.css";

/* Corpo */
body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Lilita One', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
  
